body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Assistant:wght@300;800&display=swap');


/* Body fonts */
body {
    font-family: 'Assistant', Helvetica, sans-serif;
    background-color: #f8f6ec;
    color: #333;
    margin: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 10px;
}

header {
    margin-top: 100px;
    width: 100%;
    max-width: 600px;
    text-align: left;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0s;
    margin-bottom: 10px;
}

.home-link {
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

nav {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    text-align: left;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 10px;
}

nav ul li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #4f94df;
    font-size: 18px;
}

main {
    max-width: 600px;
    width: 100%;
    text-align: left;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.75s;
}

.typing-container {
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
}

.typing-text {
    font-size: 18px;
    white-space: normal;
    display: inline;
    color: lightseagreen;
    animation: typing 3.5s steps(40, end);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}



/* MOBILE ADJUSTMENTS */
@media (max-width: 600px) {
    .container {
        padding: 25px;
    }

    .home-link {
        font-size: 20px;
    }

    nav ul {
        gap: 8px;
    }

    nav a {
        font-size: 16px;
    }

    .typing-text {
        font-size: 16px;
    }

    body { 
        font-size: 14px;
    }
}

/* Dark mode */
body.dark-mode {
    background-color: #1C1C1E;
    color: #e0e0e0;
}

body.dark-mode nav a {
    color: #60a6f0;
}

body.dark-mode .typing-text {
    color: #04dfc9;
}

body.dark-mode p {
    color: #e0e0e0;
}

.dark-mode-toggle {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
}

.home-link {
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

body.dark-mode .home-link {
    color: #f8f6ec;
}

::selection { 
    background: #FFEAA7;
    color: #333;
}

body.dark-mode ::selection {
    background: #bdb084;
    color: #1a1a1a;
}


/* Footer */
.footer {
    font-size: 14px;
    width: 100%;
    max-width: 600px;
    margin: 40px auto 20px auto;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.footer.visible {
    opacity: 1;
}

.external-link {
    text-decoration: underline;
    color: rgb(80, 80, 80);
}

body.dark-mode .external-link:hover { 
    color: #f5736a;
    transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.external-link:hover { 
    color: #f07167;
    transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.dark-mode .external-link { 
    color: rgb(174, 174, 174);
    text-decoration: underline;
}

.signature-img {
    width: 200px; 
    height: auto;
    margin-top: 0px;
}
