---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Misc / Farooq Qureshi" description="Miscellaneous pages by Farooq Qureshi">
  <main>
    <ul class="flex flex-col gap-1.5">
      <li>
        <a href="/misc/books" class="group flex justify-between gap-3">
          <span class="group-hover:underline">Books</span>
        </a>
      </li>
      <li>
        <a href="/misc/music" class="group flex justify-between gap-3">
          <span class="group-hover:underline">Music</span>
        </a>
      </li>
    </ul>
  </main>
</Layout> 