---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Music / Farooq Qureshi" description="Miscellaneous pages by Farooq Qureshi">
  <main>
    <p>Coming soon.</p>
  </main>
</Layout> 