---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="About | Farooq Q." description="About Farooq Qureshi">
  <main>
    <p>
      I was born in Karachi, Pakistan. I spent a small chunk of my childhood there, and then came to Canada where I lived in Toronto and then Calgary. Most of my education was done in Calgary. I moved to Ontario in 2024, to study Electrical Engineering at the University of Ottawa.
    </p>
    <br>
    
    <p>
      I currently spend a lot of my time organizing <a href="https://www.uottahack.ca/" target="_blank" rel="noopener" class="hover:italic transition-all">uOttaHack</a>, our hackathon here at uOttawa - and studying. I spent a good chunk of my summer building out some projects that I liked, too.
    </p>
    <br>
    
    <p>
      I like reading and writing - which are both things I did a lot this summer. I hope to continue this habit into the fall semester, but I say that every fall - so let's hope this one is different. You can check out my <a href="/other/books" class="hover:italic transition-all">reads here</a>, and my <a href="/writing" class="hover:italic transition-all">writing here</a>.
    </p>
    <br>
    
    <p>
      I'm a big fan of the courses I take at school for the most part. I generally am more interested in the mathematical side of my degree. My current interests lie at the intersection between system analysis and signal processing. Namely, the <a href="https://en.wikipedia.org/wiki/Fast_Fourier_transform" target="_blank" rel="noopener" class="hover:italic transition-all">Fast Fourier Transform</a> (in particular, <a href="https://en.wikipedia.org/wiki/Rader%27s_FFT_algorithm" target="_blank" rel="noopener" class="hover:italic transition-all">Rader's Algorithm</a>), the <a href="https://en.wikipedia.org/wiki/Z-transform" target="_blank" rel="noopener" class="hover:italic transition-all">Z-Transform</a> and the <a href="https://en.wikipedia.org/wiki/Nyquist_stability_criterion" target="_blank" rel="noopener" class="hover:italic transition-all">Nyquist Stability Criterion</a>.
    </p>
    <br>
    
    <p>
      Professionally, I'm interested in product and strategy.
    </p>
    <br>
    
    <p>
      I spent a lot of my time in high-school doing things unrelated to my degree. I spent almost all of it competitively debating, which was a great experience that sparked much of my interest in many of the topics I read about today. I also participated in Model UN, and was fortunate enough to travel and win (much less often than I lost) at various competitions in Canada.
    </p>
    <br>
    
    <p>
      I now am lucky enough to coach some exceptionally bright students in both these areas.
    </p>
    <br>
    
    <p>
      I'm always extremely interested in learning / talking more about basically any of the above. Please feel free to <a href="mailto:farooq.qureshi@outlook.com" class="hover:italic transition-all">email me, here</a>.
    </p>
    
    <hr>
    
    <p class="text-xs">
      Last updated: August 11th, 2025.
    </p>
  </main>
</Layout>
