---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="About | Farooq Q." description="About Farooq Qureshi">
  <main>
    <article>
      <p>The Short</p>
      <p>
        Hi, I'm Farooq.
      </p>
      <p>
        I study <a href="https://www.uoee.rocks/" target="_blank">Electrical Engineering</a> at <a href="https://uottawa.ca" target="_blank">The University of Ottawa</a>, and lead the team behind <a href="https://uOttaHack.ca" target="_blank">uOttaHack</a>.
      </p>
      <p>
        In my free time I teach competitive debating and <a href="/other/books" class="read-link">read</a>.
      </p>
      <p>
        Feel free to say <a href="mailto:farooq.qureshi@outlook.com">hello</a>, see my <a href="https://github.com/farooqqureshii" target="_blank">code</a>, browse my <a href="https://curius.app/farooq-qureshi" target="_blank">interests</a>, or view my <a href="https://linkedin.com/in/farooqq" target="_blank">experience</a>. Here's my <a href="https://drive.google.com/file/d/1sM9b3G5AbRIG-kDz68KOzGxeETeKm8rN/view?usp=sharing" target="_blank">résumé</a> too.
      </p>

      <p>The Long</p>
      <p>
        I was born in Karachi, Pakistan. I spent a small chunk of my childhood there, and then came to Canada where I lived in Toronto and then Calgary. Most of my education was done in Calgary. I moved to Ontario in 2024, to study Electrical Engineering at the University of Ottawa.
      </p>
      
      <p>
        I currently spend most of time organizing <a href="https://www.uottahack.ca/" target="_blank" rel="noopener" class="hover:italic transition-all">uOttaHack</a>,- and studying.
      </p>
      
      <p>
        I enjoy reading and writing. You can check out my <a href="/other/books" class="hover:italic transition-all">reads here</a>, and my <a href="/writing" class="hover:italic transition-all">writing here</a>.
      </p>
      
      <p>
        Academically, my current interests lie at the intersection between system analysis and signal processing. Namely, the <a href="https://en.wikipedia.org/wiki/Fast_Fourier_transform" target="_blank" rel="noopener" class="hover:italic transition-all">Fast Fourier Transform</a> (in particular, <a href="https://en.wikipedia.org/wiki/Rader%27s_FFT_algorithm" target="_blank" rel="noopener" class="hover:italic transition-all">Rader's Algorithm</a>), the <a href="https://en.wikipedia.org/wiki/Z-transform" target="_blank" rel="noopener" class="hover:italic transition-all">Z-Transform</a> and the <a href="https://en.wikipedia.org/wiki/Nyquist_stability_criterion" target="_blank" rel="noopener" class="hover:italic transition-all">Nyquist Stability Criterion</a>. Professionally, I'm interested in product and strategy. 
      </p>
      
      <p>
        Before University, I spent almost all of high school competitively debating, where I won at Stanford's Invitational and Harvard's Invitational Tournaments. I also participated in Model UN, where I competed at conferences across the nation, and also organized the largest high-school Model UN conference in Western Canada.
      </p>
      
      <p>
        I now am lucky enough to coach some exceptionally bright students in both these areas. I've coached the winners of Alberta's Provincial Debating Championships, and qualifiers for the Canadian National Debating Championships.

      </p>
        Some other things: I can juggle four (but not more) balls at a time. A long-term aspiration of mine is to understand abstract art more. In the short-term, I'm trying to read more biographies. The traits I admire the most are altruism and intellectual humility, a trait that I try to avoid is inflexibility. My favorite author is a tie between Ernest Hemingway and Prabda Yoon. Favorite book (changes far too often) but is currently To the Lighthouse by Virginia Woolf. Favorite movie is also a tie between Frances Ha and Green Book. Favorite artist is probably Jelani Aryeh or Vince Staples. 
      <p>
        I'm always extremely interested in learning / talking more about basically any of the above. Please feel free to <a href="mailto:farooq.qureshi@outlook.com" class="hover:italic transition-all">email me, here</a>.
      </p>
      
      <hr>
      
      <p class="text-xs">
        Last updated: August 20th, 2025.
      </p>
    </article>
  </main>
</Layout>
