---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Books / Farooq Qureshi" description="Miscellaneous pages by Farooq Qureshi">
  <main class="prose prose-sm md:prose-base lg:prose-lg prose-invert max-w-none">
    <p>Books I've read in no particular order.</p>
    <br>
    <ul>
      <li><em>Everything I Never Told You</em>, Celeste Ng</li>
      <li><em>Belzhar</em>, Meg Wolitzer</li>
      <li><em>Animal Farm</em>, George Orwell</li>
      <li><em>1984</em>, George Orwell</li>
      <li><em>Brave New World</em>, Aldous Huxley</li>
      <li><em>Bluets</em>, Maggie Nelson</li>
      <li><em>Sapiens</em>, Yuval Noah Harari</li>
      <li><em>Homo Deus</em>, Yuval Noah Harari</li>
      <li><em>Skin in the Game</em>, Nassim Nicholas Taleb</li>
      <li><em>Dopamine Nation</em>, Anna Lembke</li>
      <li><em>All the Light We Cannot See</em>, Anthony Doerr</li>
      <li><em>The Alchemist</em>, Paulo Coelho</li>
      <li><em>South of the Border, West of the Sun</em>, Haruki Murakami</li>
      <li><em>Klara and the Sun</em>, Kazuo Ishiguro</li>
      <li><em>Wit</em>, Margaret Edson</li>
      <li><em>The Subject Was Roses</em>, Frank D. Gilroy</li>
      <li><em>Outliers</em>, Malcolm Gladwell</li>
      <li><em>Homegoing</em>, Yaa Gyasi</li>
      <li><em>Speedboat</em>, Renata Adler</li>
      <li><em>The Folded Clock</em>, Heidi Julavits</li>
      <li><em>We the Animals</em>, Justin Torres</li>
      <li><em>So Sad Today</em>, Melissa Broder</li>
      <li><em>Milkman</em>, Anna Burns</li>
      <li><em>Weather</em>, Jenny Offill</li>
      <li><em>The Sad Part Was</em>, Prabda Yoon</li>
      <li><em>Call Me Zebra</em>, Azareen Van der Vliet Oloomi</li>
      <li><em>Native Speaker</em>, Chang-rae Lee</li>
      <li><em>Your Utopia</em>, Bora Chung</li>
      <li><em>Temporary</em>, Hilary Leichter</li>
      <li><em>The Employees</em>, Olga Ravn</li>
      <li><em>Drinking Coffee Elsewhere</em>, ZZ Packer</li>
      <li><em>No One Is Talking About This</em>, Patricia Lockwood</li>
      <li><em>The Year of Magical Thinking</em>, Joan Didion</li>
      <li><em>If You Leave Me</em>, Crystal Hana Kim</li>
      <li><em>How Much of These Hills Is Gold</em>, C Pam Zhang</li>
      <li><em>The Loneliness of the Long Distance Runner</em>, Alan Sillitoe</li>
      <li><em>Can't and Won't</em>, Lydia Davis</li>
      <li><em>A Heartbreaking Work of Staggering Genius</em>, Dave Eggers</li>
      <li><em>Celestial Bodies</em>, Jokha Alharthi</li>
      <li><em>Go Home!</em>, Edited by Rowan Hisayo Buchanan</li>
      <li><em>Interpreter of Maladies</em>, Jhumpa Lahiri</li>
      <li><em>The Emperor of All Maladies</em>, Siddhartha Mukherjee</li>
      <li><em>The Boat</em>, Nam Le</li>
      <li><em>The Ones Who Walk Away from Omelas</em>, Ursula K. Le Guin</li>
      <li><em>The Dispossessed</em>, Ursula K. Le Guin</li>
      <li><em>The Left Hand of Darkness</em>, Ursula K. Le Guin</li>
      <li><em>Frankenstein</em>, Mary Shelley</li>
      <li><em>In Search of Lost Time</em>, Marcel Proust</li>
      <li><em>The Trial</em>, Franz Kafka</li>
      <li><em>To the Lighthouse</em>, Virginia Woolf</li>
      <li><em>The Crucible</em>, Arthur Miller</li>
      <li><em>The Double Helix</em>, James D. Watson</li>
      <li><em>Dune</em>, Frank Herbert</li>
      <li><em>The Electric Kool-Aid Acid Test</em>, Tom Wolfe</li>
      <li><em>Danube</em>, Claudio Magris</li>
      <li><em>The Road to Oxiana</em>, Robert Byron</li>
      <li><em>And the Band Played On</em>, Randy Shilts</li>
      <li><em>Postwar</em>, Tony Judt</li>
      <li><em>The Catcher in the Rye</em>, J.D. Salinger</li>
      <li><em>Middlemarch</em>, George Eliot</li>
      <li><em>The Sun Also Rises</em>, Ernest Hemingway</li>
      <li><em>Midnight's Children</em>, Salman Rushdie</li>
      <li><em>The Plague</em>, Albert Camus</li>
      <li><em>The Man Without Qualities</em>, Robert Musil</li>
      <li><em>The Tale of Genji</em>, Murasaki Shikibu</li>
      <li><em>In Cold Blood</em>, Truman Capote</li>
      <li><em>Man's Search for Meaning</em>, Viktor E. Frankl</li>
      <li><em>Homage to Catalonia</em>, George Orwell</li>
      <li><em>I Know Why the Caged Bird Sings</em>, Maya Angelou</li>
      <li><em>All the President's Men</em>, Bob Woodward & Carl Bernstein</li>
      <li><em>The Warmth of Other Suns</em>, Isabel Wilkerson</li>
    </ul>
  </main>
</Layout>
