---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Images | Farooq Q." description={SITE_DESCRIPTION}>
  <main>
    <p class="mb-6">Some images I find interesting.</p>
    <div class="grid grid-cols-3 gap-4">
      <img src="https://i.imgur.com/L9bRizz.png" alt="Tom Jones album cover" class="w-full" />
      <img src="https://i.postimg.cc/T2tFXjSz/Ghost-Town-Owen.jpg" alt="Ghost Town Owen album cover" class="w-full" />
      <img src="https://i.postimg.cc/y8xvXw8x/9m0di0m3taua1.jpg" alt="Netflix DVD mailer" class="w-full object-cover aspect-square" />
    </div>
  </main>
</Layout> 