---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Other | FQ" description="Other pages by Farooq Qureshi">
  <main>
    <ul class="flex flex-col gap-1.5">
      <li>
        <a href="/other/books" class="group flex justify-between gap-3">
          <span>Books</span>
        </a>
      </li>
      <li>
        <a href="/other/music" class="group flex justify-between gap-3">
          <span>Music</span>
        </a>
      </li>
      <li>
        <a href="/other/resources" class="group flex justify-between gap-3">
          <span>Resources</span>
        </a>
      </li>
      <li>
        <a href="/other/pencils" class="group flex justify-between gap-3">
          <span>Pencils</span>
        </a>
      </li>
      <li>
        <a href="/other/courses" class="group flex justify-between gap-3">
          <span>Courses</span>
        </a>
      </li>
      <li>
        <a href="/other/tools" class="group flex justify-between gap-3">
          <span>Tools</span>
        </a>
      </li>
    </ul>
  </main>
</Layout> 