---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Other | Farooq Qureshi" description="Other pages by Farooq Qureshi">
  <main class="no-link-underline">
    <nav class="flashlight-hover flex flex-col gap-1 text-sm">
      <a href="/other/books" class="flashlight-item">Books</a>
      <a href="/other/resources" class="flashlight-item">Resources</a>
      <a href="/other/pencils" class="flashlight-item">Pencils</a>
      <a href="/other/courses" class="flashlight-item">Courses</a>
      <a href="/other/tools" class="flashlight-item">Tools</a>
      <a href="/other/quotes" class="flashlight-item">Quotes</a>
    </nav>
  </main>
</Layout>
