---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Other | Farooq Qureshi" description="Other pages by Farooq Qureshi">
  <main class="no-link-underline">
    <nav class="flex flex-col gap-1 text-sm">
      <a href="/other/books">Books</a>
      <a href="/other/resources">Resources</a>
      <a href="/other/pencils">Pencils</a>
      <a href="/other/courses">Courses</a>
      <a href="/other/tools">Tools</a>
      <a href="/other/quotes">Quotes</a>
    </nav>
  </main>
</Layout>
