---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Pencils / Farooq Qureshi" description="Mechanical pencils I love and want to try.">
  <main class="prose prose-sm md:prose-base lg:prose-lg prose-invert max-w-none">
    <p>I'm a huge fan of mechanical pencils – here are some ones that I love, as well as some I'd want to snag some day.</p>
    <br>
    <h2>Currently:</h2>
    <ul>
      <li>
        <a href="https://www.amazon.ca/Steadtler-Drafting-Mechanical-925-15-05/dp/B076WV36HJ/ref=asc_df_B076WV36HJ?mcid=a0430c3c93193e0d8e4f2b3ba0bba3b9&hvadid=706839300467&hvpos=&hvnetw=g&hvrand=8189658977666193731&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9191113&hvtargid=pla-441477531744&psc=1&hvocijid=8189658977666193731-B076WV36HJ-&hvexpln=0" target="_blank" rel="noopener">Staedtler 925 15-05 Drafting Mechanical Pencil</a>
      </li>
      <li>
        <a href="https://www.amazon.ca/Alpha-Gel-Switch-Mechanical-Pencil-M51009GG1P-24/dp/B08W52K3Q1/ref=pd_lpo_d_sccl_1/134-9908580-5800557?psc=1" target="_blank" rel="noopener">Alpha Gel Switch Mechanical Pencil</a>
      </li>
      <li>
        <a href="https://www.amazon.ca/Pentel-Drafting-Pencil-Graph-PG1005/dp/B0013NFZU8/ref=asc_df_B0013NFZU8?mcid=22f7279e75e2324f92a8658ea880a760&hvadid=706743006390&hvpos=&hvnetw=g&hvrand=6870711350311799187&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9191113&hvtargid=pla-320897055341&psc=1&hvocijid=6870711350311799187-B0013NFZU8-&hvexpln=0" target="_blank" rel="noopener">Pentel Graph 1000 for Pro (PG1005)</a>
      </li>
      <li>
        <a href="https://www.amazon.ca/Staedtler-Mechanical-Pencil-925-35-05/dp/B003LOQ76I" target="_blank" rel="noopener">Staedtler 925 35-05 Mechanical Pencil</a>
      </li>
    </ul>
    <br>
    <h2>Someday:</h2>
    <ul>
      <li>
        <a href="https://www.amazon.ca/Pentel-Automatic-Forwarding-Mechanical-PP3005/dp/B08JYH88G6" target="_blank" rel="noopener">Pentel Automatic Forwarding Mechanical Pencil (PP3005)</a>
      </li>
      <li>
        <a href="https://www.amazon.ca/Pentel-Mechanical-Pencil-Smash-Q1005-1/dp/B0013NHU6K/ref=pd_lpo_d_sccl_3/134-9908580-5800557?psc=1" target="_blank" rel="noopener">Pentel Smash 0.5mm (Q1005-1)</a>
      </li>
    </ul>
  </main>
</Layout> 