---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Resources | Farooq Q." description="Miscellaneous pages by Farooq Qureshi">
  <main>
    <p>
      Resources for courses and other stuff.
    </p>
    <br>
  
    <h2><strong>Calculus</strong></h2>
    <ul>
      <li>
        <a href="https://tutorial.math.lamar.edu/" target="_blank" class="hover:italic transition-all">Paul's Online Math Notes</a>
      </li>
      <li>
        <span>Thomas' Calculus Textbook (though Stewart's is also good - I think it it convoluted in it's explanations at times)</span>
      </li>
      <li>
        <a href="https://www.science.smith.edu/~callahan/intromine.html" target="_blank" rel="noopener" class="hover:italic transition-all">Calculus in Context (Five College Calculus Project)</a>
      </li>
    </ul>
  <br>
    <h2><strong>Linear Algebra</strong></h2>
    <ul>
      <li>
        <a href="https://2prime.github.io/files/linear/midterm_review.pdf" target="_blank" rel="noopener" class="hover:italic transition-all">Linear Algebra Cheat Sheet (Yiping Lu, 2024)</a>
      </li>
      <li>
        <a href="https://minireference.com/static/tutorials/linear_algebra_in_4_pages.pdf" target="_blank" rel="noopener" class="hover:italic transition-all">Linear Algebra in 4 Pages (MiniReference)</a>
      </li>
    </ul>
  <br>
    <h2><strong>Differential Equations</strong></h2>
    <ul>
      <li>
        <a href="https://www.jirka.org/diffyqs/diffyqs.pdf" target="_blank" rel="noopener" class="hover:italic transition-all">Notes on Diffy Qs: Differential Equations for Engineers (Jirka)</a>
      </li>
      <li>
        <a href="https://people.uncw.edu/hermanr/mat361/ODEsheet.pdf" target="_blank" rel="noopener" class="hover:italic transition-all">ODE Reference Sheet (UNCW)</a>
      </li>
    </ul>
  <br>
    <h2><strong>Electrical Engineering</strong></h2>
    <ul>
      <li>
        Sanfoundry's <a href="https://www.sanfoundry.com/electrical-engineering-questions-answers/#1st-year-electrical-engineering-mcq" target="_blank" rel="noopener" class="hover:italic transition-all">50,000+ Electrical Engineering MCQ's</a> - sorted by year and topic
      </li>
    </ul>
  </main>
</Layout> 

