---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tools | FQ" description="Tools I use in my daily life">
  <main>
    <p>
      Here are some tools I use in my daily life.
    </p>
    <br>
    <ul class="flex flex-col gap-1.5">
      <li>
        <a href="https://getupnote.com/" target="_blank" class="hover:italic">UpNote</a>
      </li>
      <li>
        <a href="https://calendar.google.com/" target="_blank" class="hover:italic">Google Calendar</a>
      </li>
      <li>
        <a href="https://zed.dev/" target="_blank" class="hover:italic">Zed</a>
      </li>
      <li>
        <a href="https://cursor.sh/" target="_blank" class="hover:italic">Cursor</a>
      </li>
      <li>
        <a href="https://www.figma.com/" target="_blank" class="hover:italic">Figma</a>
      </li>
      <li>
        <a href="https://zenbrowser.app/" target="_blank" class="hover:italic">Zen Browser</a>
      </li>
    </ul>
  </main>
</Layout>

