@font-face
  font-family: 'Aptos'
  src: local('Aptos'), local('Aptos'), url('../fonts/Aptos.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PT Sans'
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/PTSans-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
