@font-face {
  font-family: 'Segoe UI'
  src: local('Segoe UI'), local('SegoeUI'), url('../fonts/SegoeUI.woff') format('woff')
  font-weight: normal
  font-style: normal
}

@font-face
  font-family: 'PT Sans'
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/PTSans-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
