@font-face 
  font-family: 'Segoe UI'
  src: local('Segoe UI'), local('Segoe UI')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Segoe UI'
  src: local('Segoe UI'), local('Segoe UI')
  font-weight: bold
  font-style: normal
