---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Farooq Qureshi" description="About Farooq Qureshi">
  <main>
    <article class="space-y-6 text-sm leading-relaxed">
      <div class="space-y-4">
        <p>Hi, I'm Farooq!</p>
        <p>
          I'm a third year <a
            href="https://www.uoee.rocks/"
            target="_blank"
            rel="noopener">Electrical Engineering</a
          > student at <a
            href="https://uottawa.ca"
            target="_blank"
            rel="noopener">the University of Ottawa</a
          >. This summer, I'm working at <a
            href="https://www.fleetway.ca/en/"
            target="_blank"
            rel="noopener">Fleetway</a
          > as a Junior Electrical Engineer where I work on the Halifax-class frigates
          for the Canadian Navy.
        </p>
        <p>
          Before this, I led the team behind <a
            href="https://2026.uottahack.ca/"
            target="_blank"
            rel="noopener">uOttaHack</a
          >, the largest technology event in Ottawa. Before that, I was a
          competitive debater, winning at Stanford and Harvard's invitational
          tournaments. I now coach students, who've won the Canadian National
          Debating Championships, Harvard, Yale and Princeton Invitationals.
        </p>
        <p>
          Professionally, I'm interested in analog IC and semiconductor device
          design. Particularly CMOS technology, transistor-level circuit design,
          and mixed-signal systems. I also have an interest in amplifier design,
          biasing networks, and signal conditioning circuits.
        </p>
        <p>
          In my free time, I <a href="/other/books">read</a> and <a
            href="/writing">write</a
          > — and love <span class="flow-gradient" data-text="design engineering">design engineering</span>!
        </p>
        <p>
          Current favourite book is <em>Stranger in a Strange Land</em> by Robert
          A. Heinlein. Current favourite artist is Leon Bridges and song is <em
            >Spacey</em
          > by the Rose Hips.
        </p>
        <p>
          Please feel free to say <a href="mailto:farooq.qureshi@outlook.com"
            >hi</a
          >, browse my <a
            href="https://www.cosmos.so/farooqqureshi"
            target="_blank"
            rel="noopener">saves</a
          >, or view my <a
            href="https://linkedin.com/in/farooqq"
            target="_blank"
            rel="noopener">experience</a
          >.
        </p>
      </div>
    </article>
  </main>
</Layout>
