---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Farooq Qureshi"
  description={SITE_DESCRIPTION}
>
  <main class="space-y-4">
    <div class="w-full text-base">
      <p class="mb-3">Hi, I'm Farooq.</p>
      <p class="mb-3">
        I study <a href="https://www.uoee.rocks/" target="_blank">Electrical Engineering</a> at <a href="https://uottawa.ca" target="_blank">The University of Ottawa</a>, and lead the team behind <a href="https://uOttaHack.ca" target="_blank">uOttaHack</a>.
      </p>
      <p class="mb-3">
        In my free time I teach competitive debating and <a href="/other/books" class="read-link">read</a>.
      </p>
      <p class="mb-3">
        More about me can be found <a href="/other/about" class="read-link">here</a>.
      </p>
    </div>
    
    <div class="text-base">
      <p>Feel free to say <a href="mailto:farooq.qureshi@outlook.com">hello</a>, see my <a href="https://github.com/farooqqureshii" target="_blank">code</a>, browse my <a href="https://curius.app/farooq-qureshi" target="_blank">interests</a>, or view my <a href="https://linkedin.com/in/farooqq" target="_blank">experience</a>. Here's my <a href="https://drive.google.com/file/d/1sM9b3G5AbRIG-kDz68KOzGxeETeKm8rN/view?usp=sharing" target="_blank">résumé</a> too.</p>
    </div>
  </main>
</Layout>
