---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Farooq Qureshi"
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-lg flex-col justify-center"
>
  <main class="space-y-4">
    <div class="w-full text-base">
      <p class="mb-3">Hi, I'm Farooq.</p>
      <p class="mb-3">
        I study Electrical Engineering at <a href="https://uottawa.ca" target="_blank">The University of Ottawa</a>. I'm also the Director for <a href="https://uOttaHack.ca" target="_blank">uOttaHack</a>, where I lead the team behind Ottawa's largest technology event.
      </p>
      <p class="mb-3">
        In my free time I teach competitive debating. Students of mine have won at Canada's National Debating Championships.
      </p>
    </div>
    <div class="text-base flex items-center gap-4">
      <a href="mailto:farooq.qureshi@outlook.com" class="mb-3 inline-block"><span class="inline-block align-middle text-sm">↗</span> email</a>
      <a href="https://github.com/farooqqureshii" target="_blank" class="mb-3 inline-block"><span class="inline-block align-middle text-sm">↗</span> github</a>
      <a href="https://linkedin.com/in/farooqq" target="_blank" class="mb-3 inline-block"><span class="inline-block align-middle text-sm">↗</span> linkedin</a>
      <a href="https://curius.app/farooq-qureshi" target="_blank" class="mb-3 inline-block"><span class="inline-block align-middle text-sm">↗</span> curius</a>
    </div>
  </main>
</Layout>
