---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Artifacts / Farooq Qureshi" description={SITE_DESCRIPTION}>
  <main>
    <div class="text-base space-y-2">
      <p>
        Patrick Collison's <a href="https://patrickcollison.com/fast" target="_blank">examples of ambitious projects executed on quickly</a>.
      </p>
      <p>
        <a href="https://book.stevejobsarchive.com/" target="_blank">Make Something Wonderful</a>, a collection from the life of Steve Jobs.
      </p>
      <p>
        <a href="https://www.folklore.org/I'll_Be_Your_Best_Friend.html?sort=date" target="_blank">I'll Be Your Best Friend</a>.
      </p>
      <p>
        Bret Victor's <a href="http://worrydream.com/#!/InventingOnPrinciple" target="_blank">talk</a> on creating tools that empower people.
      </p>
      <p>
        Frank Chimero's <a href="https://frankchimero.com/blog/2015/the-webs-grain/" target="_blank">The Web's Grain</a>.
      </p>
    </div>
  </main>
</Layout>
