---
import { SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import LiveAgeCounter from "../../components/LiveAgeCounter.astro";
---
<Layout title="Artifacts | Farooq Q." description={SITE_DESCRIPTION}>
  <main>
    <div class="text-base space-y-2">
      <p>
        I've spent a lot of time on the internet over the past 18 years, here are some things I come back to often.
      </p>
      
      <p>
        Patrick Collison's <a href="https://patrickcollison.com/fast" target="_blank">examples of ambitious projects executed on quickly</a>.
      </p>
      <p>
        <a href="https://book.stevejobsarchive.com/" target="_blank">Make Something Wonderful</a>, a collection from the life of Steve Jobs.
      </p>
      <p>
        <a href="https://www.folklore.org/I'll_Be_Your_Best_Friend.html?sort=date" target="_blank">I'll Be Your Best Friend</a>.
      </p>
      
      <p>
        Bret Victor's <a href="http://worrydream.com/#!/InventingOnPrinciple" target="_blank">talk</a> on creating tools that empower people.
      </p>
      <p>
        Frank Chimero's <a href="https://frankchimero.com/blog/2015/the-webs-grain/" target="_blank">The Web's Grain</a>.
      </p>
      <p>
        <a href="https://gwern.net/improvement" target="_blank">Gwern Branwen's</a> catalog of unheralded quality-of-life improvements.
      </p>
      <p>
        Anything by <a href="https://pudding.cool/" target="_blank">pudding.cool</a>, particularly <a href="https://pudding.cool/2025/06/hello-stranger/" target="_blank">Hello Stranger</a>.
      </p>
      <p>
        <a href="https://www.designarena.ai/" target="_blank">Design Arena</a>, comparing AI design capabilities.
      </p>
      <p>
        <a href="https://superbad.com/" target="_blank">Superbad.com</a>.
      </p>
      <p>
        <a href="https://radio.garden/" target="_blank">Radio.garden</a>, let's you listen to the radio anywhere in the world.
      </p>
      <p>
        <a href="https://littlebigdetails.com/" target="_blank">Little Big Details</a>.
      </p>
      <p>
        Nielsen Norman Group’s <a href="https://www.nngroup.com/articles/flat-design/" target="_blank">Flat Design</a> - the usability tradeoffs of flat UI trends.
      </p>
      <p>
        <a href="https://press.stripe.com/" target="_blank">Book recommendations</a> from Stripe.
      </p>
      <p>
        Every issue of Stewart Brand's <a href="https://wholeearth.info/" target="_blank">Whole Earth Catalog</a> is available online to look at.
      </p>
      <p>
        C.S. Lewis's <a href="https://www.lesswrong.com/posts/Y8rEA4e4DxafmeAbW/the-inner-ring-by-c-s-lewis" target="_blank">The Inner Ring</a>.
      </p>
      <p>
        <a href="https://lettersfromsweden.se/" target="_blank">Letters from Sweden</a>.
      </p>
      <p>
        An archive of the 1964 New York World's Fair is available <a href="http://www.nywf64.com/index.html" target="_blank">online</a>.
      </p>
      <p>
        The creators of <a href="https://leanprover.github.io/" target="_blank">Lean</a> created <a href="https://leanprover-community.github.io/mathlib-overview.html" target="_blank">mathlib</a>, a collection of useful facts about mathematical objects.
      </p>
      <p>
        <a href="https://www.makingsoftware.com/" target="_blank">Making Software</a> by <a href="https://alcohollick.com/" target="_blank">Dan Hollick</a>.
      </p>
      <p>
        <a href="https://www.themarginalian.org/the-coziest-place-on-the-moon/" target="_blank">The Coziest Place on the Moon</a>.
      </p>
      <p>
        <a href="https://monoskop.org/" target="_blank">Monoskop</a>, a wiki for arts and studies.
      </p>
      <p>
        <a href="https://progress.openai.com/" target="_blank">The progress</a> of responses from GPT models over time.
      </p>
    </div>
  </main>
</Layout>
