---
import { EMAIL } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-6 mt-4 flex items-center justify-between">
  <nav class="flex items-center gap-4">
    <a href="/">home</a>
    <a href="/projects">projects</a>
    <a href="/writing">writing</a>
    <a href="/artifacts">artifacts</a>
    <a href="/misc">misc</a>
  </nav>
  <ThemeToggle />
</header>
