---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Images / Farooq Qureshi" description={SITE_DESCRIPTION}>
  <main>
    <p class="mb-6">Some images I find interesting.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <img src="https://i.imgur.com/L9bRizz.png" alt="Tom Jones album cover" class="w-full max-w-xs md:max-w-none" />
      <img src="https://i.postimg.cc/T2tFXjSz/Ghost-Town-Owen.jpg" alt="Ghost Town Owen album cover" class="w-full max-w-xs md:max-w-none" />
      <img src="https://i.postimg.cc/y8xvXw8x/9m0di0m3taua1.jpg" alt="Netflix DVD mailer" class="w-full max-w-xs md:max-w-none object-cover aspect-square" />
    </div>
  </main>
</Layout> 