---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Music / Farooq Qureshi" description="Miscellaneous pages by Farooq Qureshi">
  <main>
    <p>
      Resources for courses and other stuff.
    </p>
    <br>
  
    <h2>Calculus</h2>
    <ul>
      <li>
        <a href="https://tutorial.math.lamar.edu/" target="_blank" rel="noopener">Paul's Online Math Notes</a>
      </li>
      <li>
        <span>Thomas' Calculus Textbook</span>
      </li>
      <li>
        <a href="https://www.science.smith.edu/~callahan/intromine.html" target="_blank" rel="noopener">Calculus in Context (Five College Calculus Project)</a>
      </li>
    </ul>
  <br>
    <h2>Linear Algebra</h2>
    <ul>
      <li>
        <a href="https://2prime.github.io/files/linear/midterm_review.pdf" target="_blank" rel="noopener">Linear Algebra Cheat Sheet (Yiping Lu, 2024)</a>
      </li>
      <li>
        <a href="https://minireference.com/static/tutorials/linear_algebra_in_4_pages.pdf" target="_blank" rel="noopener">Linear Algebra in 4 Pages (MiniReference)</a>
      </li>
    </ul>
  <br>
    <h2>Differential Equations</h2>
    <ul>
      <li>
        <a href="https://www.jirka.org/diffyqs/diffyqs.pdf" target="_blank" rel="noopener">Notes on Diffy Qs: Differential Equations for Engineers (Jirka)</a>
      </li>
      <li>
        <a href="https://people.uncw.edu/hermanr/mat361/ODEsheet.pdf" target="_blank" rel="noopener">ODE Reference Sheet (UNCW)</a>
      </li>
    </ul>
  </main>
</Layout> 

