---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("writing");
const sortedPosts = posts
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Writing | Farooq Qureshi" description={SITE_DESCRIPTION}>
  <main class="no-link-underline">
    <div class="flashlight-hover space-y-2 text-sm">
      {sortedPosts.map((post) => (
        <div class="flashlight-item flex items-baseline gap-2">
          <a href={`/writing/${post.slug}`}>{post.data.title}</a>
        </div>
      ))}
    </div>
  </main>
</Layout>
